!.gitignore
.env
node_modules
.parcel-cache
artifacts
dist
app/__config.json
contracts/WETHTOKEN.SOL
NftContract/Tinyfrens.json
.dapprc
cache
.cache/out
out
.vscode
app/JSON
.vercel
contracts/IMultiCall3.sol
app/JSON
Makefile