body {
  background-color: #eee;
  display: flex;
  font-family: 'Muli', sans-serif;
}

h1 {
  margin: 10px;
  padding: 10px;
  border-bottom: 1px solid #eee;
}

input[type="text"] {
  padding: 6px;
  font-size: 18px;
}

.button {
  background-color: #f58427;
  color: white;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  margin: 20px;
  padding: 9px 25px;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
}